
<div class='row'>
  <%= form_for :question, url: { action: 'create' }, html: {class: "large-4 columns"} do |f| %>
      Title: <%= f.text_field :title %>
      Question: <%= f.text_area :content %>
      <%= f.submit %>
  <% end %>
</div>
