<div class='row'>
  <%= form_for :session, url: {action: 'create'}, html: {class: "large-4 columns"} do |f| %>
    username: <%= f.text_field :username %>
    password: <%= f.password_field(:password) %>

    <%= f.submit "Login" %>
  <% end %>
</div>